<%= form_for @user do |user_form| %>
	<%= user_form.error_messages %>

	<div class="field">
		<%= user_form.label :first_name, "First Name" %><br>
		<%= user_form.text_field :first_name %>
	</div>
	<div class="field">
		<%= user_form.label :last_name, "Last Name" %><br>
		<%= user_form.text_field :last_name %>
	</div>
	<div class="field">
		<%= user_form.label :email %><br>
		<%= user_form.text_field :email %>
	
	<%= user_form.fields_for :address, Address.new do |address_form| %>
		<div class="field">
			<%= address_form.label :city %>
			<%= address_form.text_field :city %>
		</div>
		<div class="field">
			<%= address_form.label :state %>
			<%= address_form.text_field :state %>
		</div>
		<div class="field">
			<%= address_form.label :zipcode %>
			<%= address_form.text_field :zipcode %>
		</div>
	<% end %>

	</div>
	<div class="field">
		<%= user_form.label :password %><br>
		<%= user_form.password_field :password %>
	</div>
	<div class="field">
		<%= user_form.label :password_confirmation %><br>
		<%= user_form.password_field :password_confirmation %>
	</div>

	<div class="actions"><%= user_form.submit "Sign Up" %></div>

<% end %>