<%= form_for @user do |user_form| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>We were unable to sign you up, please correct the errors below.</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= user_form.label :first_name, "First Name" %><br>
		<%= user_form.text_field :first_name %>
	</div>
	<div class="field">
		<%= user_form.label :last_name, "Last Name" %><br>
		<%= user_form.text_field :last_name %>
	</div>
	<div class="field">
		<%= user_form.label :email %><br>
		<%= user_form.text_field :email %>
	
	<%= user_form.fields_for :address, Address.new do |address_form| %>
		<div class="field">
			<%= address_form.label :city %>
			<%= address_form.text_field :city %>
		</div>
		<div class="field">
			<%= address_form.label :state %>
			<%= address_form.text_field :state %>
		</div>
		<div class="field">
			<%= address_form.label :zipcode %>
			<%= address_form.text_field :zipcode %>
		</div>
	<% end %>

	</div>
	<div class="field">
		<%= user_form.label :password %><br>
		<%= user_form.password_field :password %>
	</div>
	<div class="field">
		<%= user_form.label :password_confirmation %><br>
		<%= user_form.password_field :password_confirmation %>
	</div>

	<div class="actions"><%= user_form.submit "Sign Up" %></div>

<% end %>